# Modules required

In [1]:
import pandas as pd
import numpy as np

# Where is the data?

The mNGS sample tracking workflow is recorded here https://docs.google.com/spreadsheets/d/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/edit#gid=830009607

All related files can be found here https://drive.google.com/drive/u/1/folders/1biG9QX_Z9UBxE2lbztjlVFR-zmSfvDUV

# Join all files in the database that come from external samples

This is recorded using form `1-COMET Sample Arrival` and goes to https://drive.google.com/drive/u/1/folders/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Here I read all the files that Michelle uploaded to the database and concatenate them into a single file. I envisage that the form that registers the samples arrival triggers a process that adds new samples to the database. Then we can have a status column where we assign new sample; sample ready to be processed; sample ready to be sequenced; sequencing done;...

In [4]:
import os
files = [f for f in os.listdir('../../Downloads/drive-download-20200326T001058Z-001/') if f.endswith(".xlsx")]
files

['COMET96_OG005.xlsx',
 'COMET96_OG009.xlsx',
 'COMET96_OG004.xlsx',
 'COMET96_OG003.xlsx',
 'COMET96_OG002.xlsx',
 'COMET96_OG001.xlsx',
 'COMET96_OG007.xlsx',
 'COMET96_OG006.xlsx',
 'COMET96_OG010.xlsx']

In [5]:
cometogs = pd.DataFrame()
for file in files:
    cometogsaux = pd.read_excel('../../Downloads/drive-download-20200326T001058Z-001/'+file)
    cometogs = pd.concat([cometogs,cometogsaux])
cometogs.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

,Accession_ID,Additional_Identifier,CZB_ID,Comments,Date_On_Tube,Date_Received,Extra Comments,Freezer Drawer and Slot,N1_N2_Rp,Original_Box_Name,POS_NEG,Plate_Name,Plate_Well_Location,Site_Collaborator,Volume,Volume
0,S38536,NPOP-UTM P371,RR057e_00303,MINUS,2020-03-14,2020-03-23,Samples kept in fridge at 4C for ~1 /2 before ...,NaN,NaN,COVID Extracts Box2 Done 3/14/20,NaN,COMET96_OG005,A01,NaN,70.0,NaN
1,S37800,NPOP-UTM P371_7631939,RR057e_00304,NaN,NaT,2020-03-23,Samples kept in fridge at 4C for ~1 /2 before ...,NaN,NaN,COVID Extracts Box2 Done 3/14/20,NaN,COMET96_OG005,B01,NaN,70.0,NaN
2,S37995,NPOP-UTM P371_44422069,RR057e_00305,NaN,NaT,2020-03-23,Samples kept in fridge at 4C for ~1 /2 before ...,NaN,NaN,COVID Extracts Box2 Done 3/14/20,NaN,COMET96_OG005,C01,NaN,70.0,NaN
3,S38360,NPOP-UTM P371_55573239,RR057e_00306,MINUS,NaT,2020-03-23,Samples kept in fridge at 4C for ~1 /2 before ...,NaN,NaN,COVID Extracts Box2 Done 3/14/20,NaN,COMET96_OG005,D01,NaN,70.0,NaN
4,S38078,NPOP-UTM P371,RR057e_00307,MINUS,2020-03-14,2020-03-23,Samples kept in fridge at 4C for ~1 /2 before ...,NaN,NaN,COVID Extracts Box2 Done 3/14/20,NaN,COMET96_OG005,E01,NaN,70.0,NaN

Now when I do this I update the list and share with Michelle but this won't be required. Ideally the status of the samples will become available from the dashboard.

In [6]:
cometogs.to_csv('Michelle_OG_plates.csv')

From the "database" I create a dictionary with the accession IDs that then I use to know the metadata associated with the different samples

In [28]:
access_id_dict = dict(zip(list(zip(cometogs['Accession_ID'].values,cometogs['Plate_Name'].values,cometogs['Plate_Well_Location'].values)),
    cometogs['CZB_ID'].values))
list(access_id_dict.keys())[0],list(access_id_dict.values())[0]

(('S38536', 'COMET96_OG005', 'A01'), 'RR057e_00303')

# Receive a list of accession ids that the team wants to process

This is recorded using form `2-COMET Input Plate` and goes to https://drive.google.com/drive/u/1/folders/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

In [9]:
pwd

'/Users/angela.pisco/src/COMET'

In [33]:
plate_pooling = pd.read_excel('../../Downloads/Plate_pooling_Angela.xlsx')
plate_pooling.head()

plate_pooling['CZB_ID'] = list(zip(plate_pooling['Accession_ID'].values,plate_pooling['Plate_Name'].values,plate_pooling['w'].values))
plate_pooling['CZB_ID'] = plate_pooling['CZB_ID'].map(access_id_dict)
plate_pooling.head()

,Order,Plate_Name,w,Accession_ID,ACCESSION_NUMBER,Ordering Date,CZB_ID
0,1,COMET96_OG005,A01,S38536,S38536,2020-03-14,RR057e_00303
1,2,COMET96_OG005,B01,S37800,S37800,2020-03-14,RR057e_00304
2,3,COMET96_OG005,C01,S37995,S37995,2020-03-14,RR057e_00305
3,4,COMET96_OG005,D01,S38360,S38360,2020-03-14,RR057e_00306
4,5,COMET96_OG005,E01,S38078,S38078,2020-03-14,RR057e_00307

In [37]:
ogplates = pd.read_csv('../../Downloads/OG_plates.csv')
ogplates.head()

,Unnamed: 0,Accession_ID,Additional_Identifier,CZB_ID,Comments,Date_On_Tube,Date_Received,Extra Comments,Freezer Drawer and Slot,N1_N2_Rp,Original_Box_Name,POS_NEG,Plate_Name,Plate_Well_Location,Site_Collaborator,Volume,Volume
0,0,T26202,H12502164,RR057e_00591,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN,RR057_Box1,NaN,COMET96_OG009,A01,NaN,90.0,NaN
1,1,T27031,H12502164,RR057e_00592,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN,RR057_Box1,NaN,COMET96_OG009,B01,NaN,90.0,NaN
2,2,T27032,H12502164,RR057e_00593,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN,RR057_Box1,NaN,COMET96_OG009,C01,NaN,90.0,NaN
3,3,T27330,H12502164,RR057e_00594,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN,RR057_Box1,NaN,COMET96_OG009,D01,NaN,90.0,NaN
4,4,T27332,H12502164,RR057e_00595,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN,RR057_Box1,NaN,COMET96_OG009,E01,NaN,90.0,NaN

In [29]:
czbids = pd.read_excel('../../Downloads/COMET96-W-R007 - Michelle Tan (2) - CLIA QPCR-1.xlsx')
czbids

          CZB_ID  Accession_ID  Plate_Name  Source_Well  Ordering_Date
0   RR057e_00157           NaN         NaN          NaN            NaN
1   RR057e_00158           NaN         NaN          NaN            NaN
2   RR057e_00159           NaN         NaN          NaN            NaN
3   RR057e_00160           NaN         NaN          NaN            NaN
4   RR057e_00161           NaN         NaN          NaN            NaN
5   RR057e_00162           NaN         NaN          NaN            NaN
6   RR057e_00163           NaN         NaN          NaN            NaN
7   RR057e_00164           NaN         NaN          NaN            NaN
8   RR057e_00165           NaN         NaN          NaN            NaN
9   RR057e_00166           NaN         NaN          NaN            NaN
10  RR057e_00062           NaN         NaN          NaN            NaN
11  RR057e_00063           NaN         NaN          NaN            NaN
12  RR057e_00064           NaN         NaN          NaN            NaN
13  RR057e_00065           NaN         NaN          NaN            NaN
14  RR057e_00066           NaN         NaN          NaN            NaN
15  RR057e_00067           NaN         NaN          NaN            NaN
16  RR057e_00068           NaN         NaN          NaN            NaN
17  RR057e_00069           NaN         NaN          NaN            NaN
18  RR057e_00070           NaN         NaN          NaN            NaN
19  RR057e_00071           NaN         NaN          NaN            NaN
20  RR057e_00072           NaN         NaN          NaN            NaN
21  RR057e_00073           NaN         NaN          NaN            NaN
22  RR057e_00074           NaN         NaN          NaN            NaN
23  RR057e_00075           NaN         NaN          NaN            NaN
24  RR057e_00076           NaN         NaN          NaN            NaN
25  RR057e_00077           NaN         NaN          NaN            NaN
26  RR057e_00078           NaN         NaN          NaN            NaN
27  RR057e_00079           NaN         NaN          NaN            NaN
28  RR057e_00527           NaN         NaN          NaN            NaN
29  RR057e_00528           NaN         NaN          NaN            NaN
30  RR057e_00529           NaN         NaN          NaN            NaN
31  RR057e_00530           NaN         NaN          NaN            NaN
32  RR057e_00531           NaN         NaN          NaN            NaN
33  RR057e_00532           NaN         NaN          NaN            NaN
34  RR057e_00533           NaN         NaN          NaN            NaN
35  RR057e_00534           NaN         NaN          NaN            NaN
36  RR057e_00535           NaN         NaN          NaN            NaN
37  RR057e_00536           NaN         NaN          NaN            NaN
38  RR057e_00537           NaN         NaN          NaN            NaN
39  RR057e_00538           NaN         NaN          NaN            NaN
40  RR057e_00539           NaN         NaN          NaN            NaN
41  RR057e_00540           NaN         NaN          NaN            NaN
42  RR057e_00541           NaN         NaN          NaN            NaN
43  RR057e_00542           NaN         NaN          NaN            NaN
44  RR057e_00543           NaN         NaN          NaN            NaN
45  RR057e_00423           NaN         NaN          NaN            NaN
46  RR057e_00424           NaN         NaN          NaN            NaN
47  RR057e_00425           NaN         NaN          NaN            NaN
48  RR057e_00426           NaN         NaN          NaN            NaN
49  RR057e_00427           NaN         NaN          NaN            NaN
50  RR057e_00428           NaN         NaN          NaN            NaN
51  RR057e_00429           NaN         NaN          NaN            NaN
52  RR057e_00430           NaN         NaN          NaN            NaN
53  RR057e_00431           NaN         NaN          NaN            NaN
54  RR057e_00432           NaN         NaN          NaN            NaN
55  RR057e_00433           NaN         NaN          NaN            NaN
56  RR057e_00434           NaN         NaN          NaN            NaN
57  RR057e_00435           NaN         NaN          NaN            NaN
58  RR057e_00436           NaN         NaN          NaN            NaN

In [34]:
czbids['CZB_ID'] = plate_pooling['CZB_ID'][:59]

In [40]:
plate_pooling = cometogs[cometogs['CZB_ID'].isin(plate_pooling['CZB_ID'])][['CZB_ID','Accession_ID','Plate_Name','Plate_Well_Location']]

In [41]:
plate_pooling

          CZB_ID Accession_ID     Plate_Name Plate_Well_Location
0   RR057e_00303       S38536  COMET96_OG005                 A01
1   RR057e_00304       S37800  COMET96_OG005                 B01
2   RR057e_00305       S37995  COMET96_OG005                 C01
3   RR057e_00306       S38360  COMET96_OG005                 D01
4   RR057e_00307       S38078  COMET96_OG005                 E01
..           ...          ...            ...                 ...
9   RR057e_00693       X25143  COMET96_OG010                 B02
10  RR057e_00694       X25144  COMET96_OG010                 C02
11  RR057e_00695       X25998  COMET96_OG010                 D02
12  RR057e_00696       X25997  COMET96_OG010                 E02
13  RR057e_00697       X25891  COMET96_OG010                 F02

[165 rows x 4 columns]

In [68]:
metadata = pd.read_csv('../../Downloads/metadata_for_czb.csv')
metadata.head()

,CZB_ID,accession_number,collection_date,patient_age,gender,ED,specimen_type,test_result
0,RR057e_00474,H33483,2020-03-12,55,Male,True,NASOPHARYNGEAL SWAB in universal transport me...,NEG
1,RR057e_00425,H33021,2020-03-12,49,Female,False,NASOPHARYNGEAL SWAB in universal transport me...,NEG
2,RR057e_00426,H33020,2020-03-12,49,Female,False,OROPHARYNGEAL SWAB in universal transport medium,NEG
3,RR057e_00403,T27389,2020-03-10,33,Female,True,NASOPHARYNGEAL SWAB in universal transport me...,NEG
4,RR057e_00404,T27390,2020-03-10,33,Female,True,OROPHARYNGEAL SWAB,NEG

In [50]:
# plate_pooling['collection_data'] = metadata[metadata['accession_number'].isin(plate_pooling['Accession_ID'])]['collection_date']
# plate_pooling['collection_data'] = metadata[metadata['accession_number'].isin(plate_pooling['Accession_ID'])]['collection_date']


plate_pooling.merge(metadata,left_on='Accession_ID',right_on='accession_number',how='left')

,CZB_ID_x,Accession_ID,Plate_Name,Plate_Well_Location,collection_data,CZB_ID_y,accession_number,collection_date,patient_age,gender,ED,specimen_type,test_result
0,RR057e_00303,S38536,COMET96_OG005,A01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RR057e_00304,S37800,COMET96_OG005,B01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RR057e_00305,S37995,COMET96_OG005,C01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RR057e_00306,S38360,COMET96_OG005,D01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RR057e_00307,S38078,COMET96_OG005,E01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,RR057e_00693,X25143,COMET96_OG010,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,RR057e_00694,X25144,COMET96_OG010,C02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,RR057e_00695,X25998,COMET96_OG010,D02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,RR057e_00696,X25997,COMET96_OG010,E02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,RR057e_00697,X25891,COMET96_OG010,F02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2

In [44]:
plate_pooling.head()

,CZB_ID,Accession_ID,Plate_Name,Plate_Well_Location,collection_data
0,RR057e_00303,S38536,COMET96_OG005,A01,NaN
1,RR057e_00304,S37800,COMET96_OG005,B01,NaN
2,RR057e_00305,S37995,COMET96_OG005,C01,NaN
3,RR057e_00306,S38360,COMET96_OG005,D01,NaN
4,RR057e_00307,S38078,COMET96_OG005,E01,NaN

In [24]:
czbids['.join(plate_pooling,on='CZB_ID')']

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

After we receive the list of samples that they wanna move forward with we draw the plate maps

The plates are 96 well plates (think matrix with rows A-H and columns 1-12) but we only put 60 samples per plate due to edge effects of pipeting. In practical terms that means that rows A and H are empty plus columns 1 and 12 are also empty.

Then the order matters for the lab team because they're used to think in "columns" so they want the list to reflect that. To make sure the output is always in the desired format I've hardcoded the well order

In [28]:
ndfs = round(len(plate_pooling)/60)

wells = ['B2','C2','D2','E2','F2','G2',
         'B3','C3','D3','E3','F3','G3',
         'B4','C4','D4','E4','F4','G4',
         'B5','C5','D5','E5','F5','G5',
         'B6','C6','D6','E6','F6','G6',
         'B7','C7','D7','E7','F7','G7',
         'B8','C8','D8','E8','F8','G8',
         'B9','C9','D9','E9','F9','G9',
         'B10','C10','D10','E10','F10','G10',
         'B11','C11','D11','E11','F11','G11']


ij = 1
for i in range(0,len(plate_pooling),60):
    
    platedf = plate_pooling.iloc[i:min(i+60,len(plate_pooling)+1)][['CZB_ID','Plate_Name','w','Accession_ID','ACCESSION_NUMBER','Ordering Date']]
    platedf = platedf.reset_index()
    platedf = platedf.drop('index',axis=1)
    platedf['destination_well'] = wells[0:len(platedf)]
    platedf.to_csv('plate_map_'+str(ij)+'.csv')
    ij+=1
    
platedf.head(7)

,CZB_ID,Plate_Name,w,Accession_ID,ACCESSION_NUMBER,Ordering Date,destination_well
0,RR057e_00647,COMET96_OG009,A08,M6270,M6270,2020-03-09,B2
1,RR057e_00648,COMET96_OG009,B08,M5339,M5339,2020-03-09,C2
2,RR057e_00649,COMET96_OG009,C08,T21961,T21961,2020-03-10,D2
3,RR057e_00650,COMET96_OG009,D08,M6827,M6827,2020-03-09,E2
4,RR057e_00653,COMET96_OG009,G08,M5665,M5665,2020-03-09,F2
5,RR057e_00654,COMET96_OG009,H08,M2954,M2954,2020-03-09,G2
6,RR057e_00655,COMET96_OG009,A09,M5743,M5743,2020-03-09,B3

We want to share all these csv files back to drive.

# Map 4x96 to 1x384

Next step is to decide which 4 sample plates will be sequenced. The sample plates are 96 well plates but the sequencing plate is a 384 well plate. The team likes the samples to be mixed in a particular way when combining 4 plates.

These csvs will be available to us because they are the same ones we write above. The name of csv is the name of the sample plate and will get that from the form.

The plate names are recorded using form `3- COMET 4x 96 become 1x 384`. This form also specifies the name they'll want for the 384 well plate.

In [53]:
plate1 = pd.read_csv('../../Downloads/drive-download-20200326T000511Z-001/COMET96-W-R002.csv')
plate2 = pd.read_csv('../../Downloads/drive-download-20200326T000511Z-001/COMET96-W-R003.csv')
plate3 = pd.read_csv('../../Downloads/drive-download-20200326T000511Z-001/COMET96-W-R004.csv')
plate4 = pd.read_csv('../../Downloads/drive-download-20200326T000511Z-001/COMET96-W-R005.csv')

For each block of 4 wells in the 384 well plate they want. Let's use the new wells A01, A02, B01 and B02 as example:

    01                02
A.  Plate1 well A1    Plate3 well A1

B.  Plate2 well A1    Plate4 well A1

We will need to get a range of letters for the wells in the plates

In [54]:
def char_range(c1, c2):
    """Generates the characters from `c1` to `c2`, inclusive."""
    for c in range(ord(c1), ord(c2)+1):
        yield chr(c)
    
# letters = list(char_range('A', 'P'))
# numbers = list(range(24))+np.array(1)

# import itertools
# wells = list(itertools.product(letters, numbers))

# wells = [w[0]+str(w[1]) for w in wells]
# wells[:5]

The controls must always be in the same positions (plate wells) so I've hardcoded them.

In [55]:
pos_controls_dict = {'B02':'hela1_25ng',#well location:sample
                 'B04':'hela2_2.5ng',
                 'B06':'hela3_250pg',
                 'B08':'hela4_25pg',
                 'B10':'hela5_2.5pg',
                 'B12':'hela6_0.25pg',
                 'B14':'hela7_0.025pg',
                 'O09':'hela1_25ng',
                 'O11':'hela2_2.5ng',
                 'O13':'hela3_250pg',
                 'O15':'hela4_25pg',
                 'O17':'hela5_2.5pg',
                 'O19':'hela6_0.25pg',
                 'O21':'hela7_0.025pg'}

neg_controls_dict = {'B16':'water_ntc',
                 'O23':'water_ntc'}

Now we want to combine the 4x96 plates into 1x 384

Again, the order by which we write the wells is very important to minimize pipetting error so I've also hardcoded that.

In [56]:
# from datetime import datetime # Current date time in local system print()
# datetime.today().strftime('%Y-%m-%d')

In [57]:
well_order_by_columns = ['A01','B01','C01','D01','E01','F01','G01','H01','I01','J01','K01','L01','M01','N01','O01','P01',
                         'A02','B02','C02','D02','E02','F02','G02','H02','I02','J02','K02','L02','M02','N02','O02','P02',
                         'A03','B03','C03','D03','E03','F03','G03','H03','I03','J03','K03','L03','M03','N03','O03','P03',
                         'A04','B04','C04','D04','E04','F04','G04','H04','I04','J04','K04','L04','M04','N04','O04','P04',
                         'A05','B05','C05','D05','E05','F05','G05','H05','I05','J05','K05','L05','M05','N05','O05','P05',
                         'A06','B06','C06','D06','E06','F06','G06','H06','I06','J06','K06','L06','M06','N06','O06','P06',
                         'A07','B07','C07','D07','E07','F07','G07','H07','I07','J07','K07','L07','M07','N07','O07','P07',
                         'A08','B08','C08','D08','E08','F08','G08','H08','I08','J08','K08','L08','M08','N08','O08','P08',
                         'A09','B09','C09','D09','E09','F09','G09','H09','I09','J09','K09','L09','M09','N09','O09','P09',
                         'A10','B10','C10','D10','E10','F10','G10','H10','I10','J10','K10','L10','M10','N10','O10','P10',
                         'A11','B11','C11','D11','E11','F11','G11','H11','I11','J11','K11','L11','M11','N11','O11','P11',
                         'A12','B12','C12','D12','E12','F12','G12','H12','I12','J12','K12','L12','M12','N12','O12','P12',
                         'A13','B13','C13','D13','E13','F13','G13','H13','I13','J13','K13','L13','M13','N13','O13','P13',
                         'A14','B14','C14','D14','E14','F14','G14','H14','I14','J14','K14','L14','M14','N14','O14','P14',
                         'A15','B15','C15','D15','E15','F15','G15','H15','I15','J15','K15','L15','M15','N15','O15','P15',
                         'A16','B16','C16','D16','E16','F16','G16','H16','I16','J16','K16','L16','M16','N16','O16','P16',
                         'A17','B17','C17','D17','E17','F17','G17','H17','I17','J17','K17','L17','M17','N17','O17','P17',
                         'A18','B18','C18','D18','E18','F18','G18','H18','I18','J18','K18','L18','M18','N18','O18','P18',
                         'A19','B19','C19','D19','E19','F19','G19','H19','I19','J19','K19','L19','M19','N19','O19','P19',
                         'A20','B20','C20','D20','E20','F20','G20','H20','I20','J20','K20','L20','M20','N20','O20','P20',
                         'A21','B21','C21','D21','E21','F21','G21','H21','I21','J21','K21','L21','M21','N21','O21','P21',
                         'A22','B22','C22','D22','E22','F22','G22','H22','I22','J22','K22','L22','M22','N22','O22','P22',
                         'A23','B23','C23','D23','E23','F23','G23','H23','I23','J23','K23','L23','M23','N23','O23','P23',
                         'A24','B24','C24','D24','E24','F24','G24','H24','I24','J24','K24','L24','M24','N24','O24','P24']

Now let's join them!

In [58]:
plate2

,Unnamed: 0,CZB_ID,Plate_Name,w,Accession_ID,ACCESSION_NUMBER,Ordering Date,destination_well
0,0,RR057e_00303,COMET96_OG005,A01,S38536,S38536,2020-03-14,B2
1,1,RR057e_00304,COMET96_OG005,B01,S37800,S37800,2020-03-14,B3
2,2,RR057e_00305,COMET96_OG005,C01,S37995,S37995,2020-03-14,B4
3,3,RR057e_00306,COMET96_OG005,D01,S38360,S38360,2020-03-14,B5
4,4,RR057e_00307,COMET96_OG005,E01,S38078,S38078,2020-03-14,B6
5,5,RR057e_00308,COMET96_OG005,F01,S38777,S38777,2020-03-14,B7
6,6,RR057e_00311,COMET96_OG005,A02,S39273,S39273,2020-03-14,B8
7,7,RR057e_00312,COMET96_OG005,B02,S37766,S37766,2020-03-14,B9
8,8,RR057e_00313,COMET96_OG005,C02,S37986,S37986,2020-03-14,B10
9,9,RR057e_00314,COMET96_OG005,D02,S38305,S38305,2020-03-14,B11
10,10,RR057e_00315,COMET96_OG005,E02,S37880,S37880,2020-03-14,C2
11,11,RR057e_00319,COMET96_OG005,A03,S38898,S38898,2020-03-14,C3
12,12,RR057e_00320,COMET96_OG005,B03,S39270,S39270,2020-03-14,C4
13,13,RR057e_00321,COMET96_OG005,C03,S37765,S37765,2020-03-14,C5
14,14,RR057e_00322,COMET96_OG005,D03,S37981,S37981,2020-03-14,C6
15,15,RR057e_00323,COMET96_OG005,E03,S38304,S38304,2020-03-14,C7
16,16,RR057e_00327,COMET96_OG005,A04,S38887,S38887,2020-03-14,C8
17,17,RR057e_00328,COMET96_OG005,B04,S39012,S39012,2020-03-14,C9
18,18,RR057e_00329,COMET96_OG005,C04,S37956,S37956,2020-03-14,C10
19,19,RR057e_00330,COMET96_OG005,D04,S39230,S39230,2020-03-14,C11
20,20,RR057e_00331,COMET96_OG005,E04,S38277,S38277,2020-03-14,D2
21,21,RR057e_00335,COMET96_OG005,A05,S38991,S38991,2020-03-14,D3
22,22,RR057e_00336,COMET96_OG005,B05,S38043,S38043,2020-03-14,D4
23,23,RR057e_00337,COMET96_OG005,C05,S37926,S37926,2020-03-14,D5
24,24,RR057e_00338,COMET96_OG005,D05,S38123,S38123,2020-03-14,D6
25,25,RR057e_00339,COMET96_OG005,E05,S38459,S38459,2020-03-14,D7
26,26,RR057e_00343,COMET96_OG005,A06,S37946,S37946,2020-03-14,D8
27,27,RR057e_00344,COMET96_OG005,B06,S37917,S37917,2020-03-14,D9
28,28,RR057e_00345,COMET96_OG005,C06,S38854,S38854,2020-03-14,D10
29,29,RR057e_00346,COMET96_OG005,D06,S38989,S38989,2020-03-14,D11
30,30,RR057e_00347,COMET96_OG005,E06,S39168,S39168,2020-03-14,E2
31,31,RR057e_00351,COMET96_OG005,A07,S38596,S38596,2020-03-14,E3
32,32,RR057e_00352,COMET96_OG005,B07,S37757,S37757,2020-03-14,E4
33,33,RR057e_00353,COMET96_OG005,C07,S39142,S39142,2020-03-14,E5
34,34,RR057e_00354,COMET96_OG005,D07,S38972,S38972,2020-03-14,E6
35,35,RR057e_00355,COMET96_OG005,E07,S38968,S38968,2020-03-14,E7
36,36,RR057e_00359,COMET96_OG005,A08,S38455,S38455,2020-03-14,E8
37,37,RR057e_00360,COMET96_OG005,B08,S38088,S38088,2020-03-14,E9
38,38,RR057e_00361,COMET96_OG005,C08,S37777,S37777,2020-03-14,E10
39,39,RR057e_00362,COMET96_OG005,D08,X30791,X30791,2020-03-22,E11
40,40,RR057e_00363,COMET96_OG005,E08,F2568,F2568,2020-03-20,F2
41,41,RR057e_00366,COMET96_OG005,H08,X31592,X31592,2020-03-22,F3
42,42,RR057e_00367,COMET96_OG005,A09,X31407,X31407,2020-03-22,F4
43,43,RR057e_00368,COMET96_OG005,B09,X31280,X31280,2020-03-22,F5
44,44,RR057e_00369,COMET96_OG005,C09,X31355,X31355,2020-03-22,F6
45,45,RR057e_00370,COMET96_OG005,D09,X30761,X30761,2020-03-22,F7
46,46,RR057e_00371,COMET96_OG005,E09,X31055,X31055,2020-03-22,F8
47,47,RR057e_00372,COMET96_OG005,F09,X30784,X30784,2020-03-22,F9
48,48,RR057e_00373,COMET96_OG005,G09,X30752,X30752,2020-03-22,F10
49,49,RR057e_00374,COMET96_OG005,H09,X31588,X31588,2020-03-22,F11
50,50,RR057e_00375,COMET96_OG005,A10,X31064,X31064,2020-03-22,G2
51,51,RR057e_00376,COMET96_OG005,B10,X31315,X31315,2020-03-22,G3
52,52,RR057e_00377,COMET96_OG005,C10,X31084,X31084,2020-03-22,G4
53,53,RR057e_00378,COMET96_OG005,D10,X31209,X31209,2020-03-22,G5
54,54,RR057e_00379,COMET96_OG005,E10,X31206,X31206,2020-03-22,G6
55,55,RR057e_00380,COMET96_OG005,F10,X31037,X31037,2020-03-22,G7
56,56,RR057e_00381,COMET96_OG005,G10,X31581,X31581,2020-03-22,G8
57,57,RR057e_00382,COMET96_OG005,H10,X31738,X31738,2020-03-22,G9
58,58,RR057e_00383,COMET96_OG005,A11,X31661,X31661,2020-03-22,G10
59,59,RR057e_00384,COMET96_OG005,B11,X31562,X31562,2020-03-22,G11

In [59]:
letters = list(char_range('A', 'H'))
numbers = list(range(12))+np.array(1)


df1 = pd.DataFrame(columns=numbers,index=letters)
for p in plate1['destination_well']:
    df1.loc[list(p)[0],int("".join(list(p)[1:]))] = [
        list(plate1.loc[plate1['destination_well']==p,'Plate_Name'])[0],
        list(plate1.loc[plate1['destination_well']==p,'CZB_ID'])[0],
        list(plate1.loc[plate1['destination_well']==p,'ACCESSION_NUMBER'])[0],
        list(plate1.loc[plate1['destination_well']==p,'Ordering Date'])[0],
        'sample'
    ]

df2 = pd.DataFrame(columns=numbers,index=letters)
for p in plate2['destination_well']:
    df2.loc[list(p)[0],int("".join(list(p)[1:]))] = [
        list(plate2.loc[plate2['destination_well']==p,'Plate_Name'])[0],
        list(plate2.loc[plate2['destination_well']==p,'CZB_ID'])[0],
        list(plate2.loc[plate2['destination_well']==p,'ACCESSION_NUMBER'])[0],
        list(plate2.loc[plate2['destination_well']==p,'Ordering Date'])[0],
        'sample'
    ]

df3 = pd.DataFrame(columns=numbers,index=letters)
for p in plate3['destination_well']:
    df3.loc[list(p)[0],int("".join(list(p)[1:]))] = [
        list(plate3.loc[plate3['destination_well']==p,'Plate_Name'])[0],
        list(plate3.loc[plate3['destination_well']==p,'CZB_ID'])[0],
        list(plate3.loc[plate3['destination_well']==p,'ACCESSION_NUMBER'])[0],
        list(plate3.loc[plate3['destination_well']==p,'Ordering Date'])[0],
        'sample'
    ]

df4 = pd.DataFrame(columns=numbers,index=letters)
for p in plate4['destination_well']:
    df4.loc[list(p)[0],int("".join(list(p)[1:]))] = [
        list(plate4.loc[plate4['destination_well']==p,'Plate_Name'])[0],
        list(plate4.loc[plate4['destination_well']==p,'CZB_ID'])[0],
        list(plate4.loc[plate4['destination_well']==p,'ACCESSION_NUMBER'])[0],
        list(plate4.loc[plate4['destination_well']==p,'Ordering Date'])[0],
        'sample'
    ]



df12 = pd.concat([df1, df2]).sort_index()
df12.columns = list(range(0,24,2))+np.array(1)
df34 = pd.concat([df3, df4]).sort_index()
df34.columns = list(range(1,24,2))+np.array(1)
df1234 = pd.concat([df12, df34], axis=1)
df1234 = df1234.sort_index(axis=1)

df1234.index = list(char_range('A', 'P'))
df1234.columns = ["".join(['0',str(n)]) for n in list(range(1,10))]+[str(n) for n in list(range(10,25))]


for w in list(pos_controls_dict.keys()):
    i = list(w)[0]
    j = "".join(list(w)[1:])
    df1234.loc[i,j] = ['',pos_controls_dict[w],'pos_control','','control']
    
for w in list(neg_controls_dict.keys()):
    i = list(w)[0]
    j = "".join(list(w)[1:])
    df1234.loc[i,j] = ['',neg_controls_dict[w],'neg_control','','control']

    

df1234.to_csv('384_plate.csv')
df1234

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,24
A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B,NaN,"[, hela1_25ng, pos_control, , control]",NaN,"[, hela2_2.5ng, pos_control, , control]",NaN,"[, hela3_250pg, pos_control, , control]",NaN,"[, hela4_25pg, pos_control, , control]",NaN,"[, hela5_2.5pg, pos_control, , control]",...,NaN,"[, water_ntc, neg_control, , control]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C,NaN,NaN,"[RNA0000000039, RR057i_00013, M14745, nan, sam...","[COMET96_OG005, RR057e_00385, X31278, 2020-03-...","[RNA0000000017, RR057i_00019, T34400, nan, sam...","[COMET96_OG005, RR057e_00386, S42068, 2020-03-...","[RNA0000000017, RR057i_00025, T34362, nan, sam...","[COMET96_OG005, RR057e_00387, X31685, 2020-03-...","[RNA0000000027, RR057i_00031, H36794, nan, sam...","[COMET96_OG005, RR057e_00388, X31625, 2020-03-...",...,"[RNA0000000006, RR057i_00049, F2922, nan, sample]","[COMET96_OG005, RR057e_00392, M13023, 2020-03-...","[RNA0000000006, RR057i_00055, F2916, nan, sample]","[COMET96_OG005, RR057e_00393, M12911, 2020-03-...","[RNA0000000039, RR057i_00001, X31451, nan, sam...","[COMET96_OG005, RR057e_00394, X31985, 2020-03-...","[RNA0000000039, RR057i_00007, X31628, nan, sam...","[COMET96_OG005, RR057e_00395, X31982, 2020-03-...",NaN,NaN
D,NaN,NaN,"[COMET96_OG005, RR057e_00303, S38536, 2020-03-...","[COMET96_OG009, RR057e_00647, M6270, 3/9/20, s...","[COMET96_OG005, RR057e_00304, S37800, 2020-03-...","[COMET96_OG009, RR057e_00648, M5339, 3/9/20, s...","[COMET96_OG005, RR057e_00305, S37995, 2020-03-...","[COMET96_OG009, RR057e_00649, T21961, 3/10/20,...","[COMET96_OG005, RR057e_00306, S38360, 2020-03-...","[COMET96_OG009, RR057e_00650, M6827, 3/9/20, s...",...,"[COMET96_OG005, RR057e_00311, S39273, 2020-03-...","[COMET96_OG009, RR057e_00655, M5743, 3/9/20, s...","[COMET96_OG005, RR057e_00312, S37766, 2020-03-...","[COMET96_OG009, RR057e_00656, M5653, 3/9/20, s...","[COMET96_OG005, RR057e_00313, S37986, 2020-03-...","[COMET96_OG009, RR057e_00657, M5074, 3/9/20, s...","[COMET96_OG005, RR057e_00314, S38305, 2020-03-...","[COMET96_OG009, RR057e_00658, M5025, 3/9/20, s...",NaN,NaN
E,NaN,NaN,"[RNA0000000039, RR057i_00014, S42120, nan, sam...","[COMET96_OG005, RR057e_00396, X31822, 2020-03-...","[RNA0000000017, RR057i_00020, T33405, nan, sam...","[COMET96_OG005, RR057e_00397, X31787, 2020-03-...","[RNA0000000017, RR057i_00026, T34392, nan, sam...","[COMET96_OG009, RR057e_00591, T26202, 2020-03-...","[RNA0000000027, RR057i_00032, W23038, nan, sam...","[COMET96_OG009, RR057e_00592, T27031, 2020-03-...",...,"[RNA0000000006, RR057i_00050, F2218, nan, sample]","[COMET96_OG009, RR057e_00595, T27332, 2020-03-...","[RNA0000000025, RR057i_00056, W23867, nan, sam...","[COMET96_OG009, RR057e_00598, W18657, 2020-03-...","[RNA0000000039, RR057i_00002, M14102, nan, sam...","[COMET96_OG009, RR057e_00599, W18658, 2020-03-...","[RNA0000000039, RR057i_00008, M14153, nan, sam...","[COMET96_OG009, RR057e_00600, W19431, 2020-03-...",NaN,NaN
F,NaN,NaN,"[COMET96_OG005, RR057e_00315, S37880, 2020-03-...","[COMET96_OG009, RR057e_00659, T21480, 3/9/20, ...","[COMET96_OG005, RR057e_00319, S38898, 2020-03-...","[COMET96_OG009, RR057e_00660, M6198, 3/9/20, s...","[COMET96_OG005, RR057e_00320, S39270, 2020-03-...","[COMET96_OG009, RR057e_00661, M2955, 3/9/20, s...","[COMET96_OG005, RR057e_00321, S37765, 2020-03-...","[COMET96_OG009, RR057e_00662, M5075, 3/9/20, s...",...,"[COMET96_OG005, RR057e_00327, S38887, 2020-03-...","[COMET96_OG009, RR057e_00665, M5572, 3/9/20, s...","[COMET96_OG005, RR057e_00328, S39012, 2020-03-...","[COMET96_OG009, RR057e_00666, M5711, 3/9/20, s...","[COMET96_OG005, RR057e_00329, S37956, 2020-03-...","[COMET96_OG009, RR057e_00667, M5744, 3/9/20, s...","[COMET96_OG005, RR057e_00330, S39230, 2020-03-...","[COMET96_OG009, RR057e_00668, M6061, 3/9/20, s...",NaN,NaN
G,NaN,NaN,"[RNA0000000039, RR057i_00015, S41977, nan, sam...","[COMET96_OG009, RR057e_00601, W19078, 2020-03-...","[RNA0000000017, RR057i_00021, T34876, nan, sam...","[COMET96_OG009, RR057e_00602, W18957, 2020-03-...","[RNA0000000017, RR057i_00027, T34348, nan, sam...","[COMET96_OG009, RR057e_00603, W18469, 2020-03-...","[RNA0000000006, RR057i_00033, F3040, nan, sample]","[COMET96_OG009, RR057e_00606, T21892, 2020-03-...",...,"[RNA0000000006, RR057i_00051, F2981, nan, sample]","[COMET96_OG009, RR057e_00609, T25872, 2020-03-...","[RNA0000000006, RR057i_00057, F2940, nan, sample]","[COMET96_OG009, RR057e_00610, T24767, 2020-03-...","[RNA0000000039, RR057i_00003, S41958, nan, sam...","[COMET96_OG009, RR057e_00611, T24766, 2020-03-...","[RNA0000000039, RR057i_00009, S42076, nan, sam...","[COMET96_OG009, RR057e_00612, W17228, 2020-03-...",NaN,NaN
H,NaN,NaN,"[COMET96_OG005, RR057e_00331, S38277, 2020-03-...","[COMET96_OG009, RR057e_00669, T21970, 3/10/20,...","[COMET96_OG005, RR057e_00335, S38991, 2020-03-...","[COMET96_OG009, RR057e_00670, T22830, 3/10/20,...","[COMET96_OG005, RR057e_00336, S38043, 2020-03-...","[COMET96_OG009, RR057e_00671, T23277, 3/10/20,...","[COMET96_OG005, RR057e_00337, S37926, 2020-03-...","[COMET96_OG009, RR057e_00672, T23278, 3/10/20,...",...,"[COMET96_OG005, RR057e_00343, S37946, 2020-03-...","[COMET96_OG009, RR057e_00675, T23709, 3/10/20,...","[COMET96_OG005, RR057e_00344, S37917, 2020-03-...","[COMET96_OG009, RR057e_00676, T23713, 3/10/20,...","[COMET96_OG005, RR057e_00345, S38854, 2020-03-...","[COMET96_OG009, RR057e_00677, M6215, 3/9/20, s...","[COMET96_OG005, RR057e_00346, S38989, 2020-03-...","[COMET96_OG009, RR057e_00678, M6060, 3/9/20, s...",NaN,NaN
I,NaN,NaN,"[RNA0000000017, RR057i_00016, T34537, nan, sam...","[COMET96_OG009, RR057e_00613, W16865, 2020-03-...","[RNA0000000027, RR057i_00022, H37148, nan, sam...","[COMET96_OG009, RR057e_00614, X25530, 2020-03-...","[RNA0000000017, RR057i_00028, M15085, nan, sam...","[COMET96_OG009, RR057e_00615, X25521, 2020-03-...","[RNA0000000017, RR057i_00034, T34394, nan, sam...","[COMET96_OG009, RR057e_00616, M4397, 2020-03-0...",...,"[RNA0000000006, RR057i_00052, F3015, nan, sample]","[COMET96_OG009, RR057e_00619, M6649, 2020-03-0...","[RNA0000000025, RR057i_00058, W24236, nan, sam...","[COMET96_OG009, RR057e_00620, T25660, 2020-03-...","[RNA0000000039, RR057i_00004, X31326, nan, sam...","[COMET96_OG009, RR057e_00621, T25810, 2020-03-...","[RNA0000000017, RR057i_00010, T34463, nan, sam...","[COMET96_OG009, RR057e_00622, T26237, 2020-03-...",NaN,NaN
J,NaN,NaN,"[COMET96_OG005, RR057e_00347, S39168, 2020-03-...","[COMET96_OG009, RR057e_00679, M4863, 3/9/20, s...","[COMET96_OG005, RR057e_00351, S38596, 2020-03-...","[COMET96_OG009, RR057e_00680, M4758, 3/9/20, s...","[COMET96_OG005, RR057e_00352, S37757, 2020-03-...","[COMET96_OG009, RR057e_00681, M6269, 3/9/20, s...","[COMET96_OG005, RR057e_00353, S39142, 2020-03-...","[COMET96_OG010, RR057e_00684, S34977, 3/7/20, ...",...,"[COMET96_OG005, RR057e_00359, S38455, 2020-03-...","[COMET96_OG010, RR057e_00688, X26011, 3/8/20, ...","[COMET96_OG005, RR057e_00360, S38088, 2020-03-...","[COMET96_OG010, RR057e_00692, F63739, 3/6/20, ...","[COMET96_OG005, RR057e_00361, S37777, 2020-03-...","[COMET96_OG010, RR057e_00693, X25143, 3/8/20, ...","[COMET96_OG005, RR057e_00362, X30791, 2020-03-...","[COMET96_OG010, RR057e_00694, X25144, 3/8/20, ...",NaN,NaN
K,NaN,NaN,"[RNA0000000017, RR057i_00017, T34356, nan, sam...","[COMET96_OG009, RR057e_00623, T26241, 2020-03-...","[RNA0000000027, RR057i_00023, F4039, nan, sample]","[COMET96_OG009, RR057e_00624, T26609, 2020-03-...","[RNA0000000017, RR057i_00029, T34368, nan, sam...","[COMET96_OG009, RR057e_00625, T26610, 2020-03-...","[RNA0000000017, RR057i_00035, T34678, nan, sam...","[COMET96_OG009, RR057e_00626, T26896, 2020-03-...",...,"[RNA0000000025, RR057i_00053, W22488, nan, sam...","[COMET96_OG009, RR057e_00629, T27045, 2020-03-...","[RNA0000000025, RR057i_00059, W24683, nan, sam...","[COMET96_OG009, RR057e_00630, T20437, 2020-03-...","[RNA0000000039, RR057i_00005, M14692, nan, sam...","[COMET96_OG009, RR057e_00631, S33945, 2020-03-...","[RNA0000000039, RR057i_00011, X31210, nan, sam...","[COMET96_OG009, RR057e_00632, S33666, 2020-03-...",NaN,NaN
L,NaN,NaN,"[COMET96_OG005, RR057e_00363, F2568, 2020-03-2...","[COMET96_OG010, RR057e_00695, X25998, 3/8/20, ...","[COMET96_OG005, RR057e_00366, X31592, 2020-03-...","[COMET96_OG008, RR057e_00700, F2927, nan, sample]","[COMET96_OG005, RR057e_00367, X31407, 2020-03-...","[COMET96_OG008, RR057e_00701, F2889, nan, sample]","[COMET96_OG005, RR057e_00368, X31280, 2020-03-...","[COMET96_OG008, RR057e_00702, H36748, nan, sam...",...,"[COMET96_OG005, RR057e_00371, X31055, 2020-03-...","[COMET96_OG008, RR057e_00705, H37007, nan, sam...","[COMET96_OG005, RR057e_00372, X30784, 2020-03-...","[COMET96_OG008, RR057e_00706, F3802, nan, sample]","[COMET96_OG005, RR057e_00373, X30752, 2020-03-...","[COMET96_OG008, RR057e_00707, H39265, nan, sam...","[COMET96_OG005, RR057e_00374, X31588, 2020-03-...","[COMET96_OG008, RR057e_00708, F3032, nan, sample]",NaN,NaN
M,NaN,NaN,"[RNA0000000017, RR057i_00018, T34370, nan, sam...","[COMET96_OG009, RR057e_00637, W15360, 2020-03-...","[RNA0000000027, RR057i_00024, S41241, nan, sam...","[COMET96_OG009, RR057e_00638, W15363, 2020-03-...","[RNA0000000017, RR057i_00030, T34852, nan, sam...","[COMET96_OG009, RR057e_00639, W17116, 2020-03-...","[RNA0000000017, RR057i_00036, T34364, nan, sam...","[COMET96_OG009, RR057e_00640, W17115, 2020-03-...",...,"[RNA0000000025, RR057i_00054, W23985, nan, sam...","[COMET96_OG009, RR057e_00643, W18039, 2020-03-...","[RNA0000000025, RR057i_00060, W24341, nan, sam...","[COMET96_OG009, RR057e_00644, W18040, 2020-03-...","[RNA0000000039, RR057i_00006, S42053, nan, sam...","[COMET96_OG009, RR057e_00645, M6197, 2020-03-0...","[RNA0000000017, RR057i_00012, T34480, nan, sam...","[COMET96_OG009, RR057e_00646, M6214, 2020-03-0...",NaN,NaN
N,NaN,NaN,"[COMET96_OG005, RR057e_00375, X31064, 2020-03-...","[COMET96_OG008, RR057e_00709, T30943, nan, sam...","[COMET96_OG005, RR057e_00376, X31315, 2020-03-...","[COMET96_OG008, RR057e_00710, F2876, nan, sample]","[COMET96_OG005, RR057e_00377, X31084, 2020-03-...","[COMET96_OG008, RR057e_00711, F2916, nan, sample]","[COMET96_OG005, RR057e_00378, X31209, 2020-03-...","[COMET96_OG008, RR057e_00712, F2940, nan, sample]",...,"[COMET96_OG005, RR057e_00381, X31581, 2020-03-...","[COMET96_OG008, RR057e_00715, S41570, nan, sam...","[COMET96_OG005, RR057e_00382, X31738, 2020-03-...","[COMET96_OG008, RR057e_00716, W23519, nan, sam...","[COMET96_OG005, RR057e_00383, X31661, 2020-03-...","[COMET96_OG008, RR058e_00001, RR058_001, nan, ...","[COMET96_OG005, RR057e_00384, X31562, 2020-03-...","[COMET96_OG008, RR058e_00002, RR058_002, nan, ...",NaN,NaN
O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[, hela1_25ng, pos_control, , control]",NaN,...,"[, hela4_25pg, pos_control, , control]",NaN,"[, hela5_2.5pg, pos_control, , control]",NaN,"[, hela6_0.25pg, pos_control, , control]",NaN,"[, hela7_0.025pg, pos_control, , control]",NaN,"[, water_ntc, neg_control, , control]",NaN
P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next the file that the team needs is the plate but in long format.

In [69]:
df1234 = df1234.fillna('nans') # this is a silly trick that allows me to ignore the NaNs inside the loop

df1234long = pd.DataFrame(index=list(range(384)),columns=['Plate_Name','CZB_ID','ACCESSION_NUMBER','SAMPLE_TYPE'])
longwells = []
c = 0
for i in df1234.index.values:
    for j in df1234.columns.values:
        longwells = longwells + [i+j]
        if  df1234.loc[i,j] != 'nans':
            df1234long.loc[c,'Plate_Name'] = df1234.loc[i,j][0]
            df1234long.loc[c,'CZB_ID'] = df1234.loc[i,j][1]
            df1234long.loc[c,'ACCESSION_NUMBER'] = df1234.loc[i,j][2]
            df1234long.loc[c,'SAMPLE_TYPE'] = df1234.loc[i,j][4]
            df1234long.loc[c,'Ordering Date'] = df1234.loc[i,j][3]
        c+=1
df1234long.index = longwells
try:
    metadata = metadata.drop('CZB_ID',axis=1)
except:
    print("CZB_ID not in metadata")
df1234long = df1234long.merge(metadata,left_on='ACCESSION_NUMBER',right_on='accession_number',how='left')
# df1234long['pcr_call'] = 'place holder for the test result'
# df1234long['CT_values'] = 'place holder for the different Ct calls'
df1234long = df1234long.reindex(well_order_by_columns)
# df1234long.to_csv('384_plate_long.csv')
df1234long.iloc[100:110]

,Plate_Name,CZB_ID,ACCESSION_NUMBER,SAMPLE_TYPE,Ordering Date,accession_number,collection_date,patient_age,gender,ED,specimen_type,test_result
E07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
F07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
I07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
K07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The next step is to use the information Lucy gets from UCSF that will be going here https://drive.google.com/drive/u/1/folders/1-OBfFfREIr9wfc7WGDMnjMleOk5-lozI and fill the missing metadata

We want to share this file back to drive.

# Join index plate and prepare the sample sheet

The index plate is uploaded using form `4- COMET Index plates`. This form also specifies the name of the 384 plate that we will use. The index map goes here https://drive.google.com/drive/u/1/folders/0BzpdNpmYWKiLfi10VHN1ZTdnMDI4bkFSMF9UdGk2MkoyQ2pzbVU4VE5mbG4yODJCLXRPajQ

In [62]:
dbp1 = pd.read_excel('../../Downloads/Dual Barcode Plate/DBP_1.xlsx')
dbp1 = dbp1.set_index('384_index')
dbp1.head()

,96 conversion,Dual_Plate_ID,96_Barcode_Well,i7_plate_ID,i7_index_RC,i5_plate_ID,i5_index_RC,i5_index_F - For MiSeq and NovaSeq
384_index,,,,,,,,
A01,1,Dual-001,A1,CZB-TRUSEQ-8-12BP-i7-PLATE-001,AGTGCATTCGAG,CZB-TRUSEQ-8-12BP-i5-PLATE-001,AGTGGACTAGCA,TGCTAGTCCACT
C01,2,Dual-001,B1,CZB-TRUSEQ-8-12BP-i7-PLATE-001,TCACATTCGTCC,CZB-TRUSEQ-8-12BP-i5-PLATE-001,GTTCACCAATCC,GGATTGGTGAAC
E01,3,Dual-001,C1,CZB-TRUSEQ-8-12BP-i7-PLATE-001,ACGAATCGACCA,CZB-TRUSEQ-8-12BP-i5-PLATE-001,CAAGAGGCACTT,AAGTGCCTCTTG
G01,4,Dual-001,D1,CZB-TRUSEQ-8-12BP-i7-PLATE-001,CTCATGCATCTC,CZB-TRUSEQ-8-12BP-i5-PLATE-001,ACGATCTGCATG,CATGCAGATCGT
I01,5,Dual-001,E1,CZB-TRUSEQ-8-12BP-i7-PLATE-001,ACGATACGGCAA,CZB-TRUSEQ-8-12BP-i5-PLATE-001,GTTCTCCGACAT,ATGTCGGAGAAC

In [64]:
samplesheet = df1234long.join(dbp1)

samplesheet['Study_ID'] = 'COMET_COVID_mNGS'
samplesheet['Study_Description'] = 'Metagenomics Sequencing of COVID positive and negative samples'
samplesheet['BioSample_ID'] = ''
samplesheet['BioSample_Description']='extracted RNA from nasal swab externalinternal'
samplesheet['Sample_Owner'] = 'michelle_tan'
samplesheet['Sample_ID'] = samplesheet.index + '_' + samplesheet['CZB_ID'].astype(str)
samplesheet['Sample_Name'] = samplesheet.index + '_' + samplesheet['Plate_Name'].astype(str)
samplesheet['Organism'] = 'Human'
samplesheet['Host']= ''
samplesheet['Sex'] = ''
samplesheet['Tissue_Source'] = ''
samplesheet['Index_ID'] = samplesheet['i7_plate_ID']
samplesheet['Index'] = samplesheet['i7_index_RC']
samplesheet['Index2_ID'] = samplesheet['i5_plate_ID']
samplesheet['Index2'] = samplesheet['i5_index_RC']

samplesheet = samplesheet[
    ['Study_ID','Study_Description','BioSample_ID','BioSample_Description','Sample_ID','Sample_Name','Sample_Owner','Index_ID','Index','Index2_ID','Index2','Organism','Host','Sex','Tissue_Source']]
samplesheet.to_csv('samplesheet.csv')
samplesheet.head()

,Study_ID,Study_Description,BioSample_ID,BioSample_Description,Sample_ID,Sample_Name,Sample_Owner,Index_ID,Index,Index2_ID,Index2,Organism,Host,Sex,Tissue_Source
A01,COMET_COVID_mNGS,Metagenomics Sequencing of COVID positive and ...,,extracted RNA from nasal swab externalinternal,A01_nan,A01_nan,michelle_tan,CZB-TRUSEQ-8-12BP-i7-PLATE-001,AGTGCATTCGAG,CZB-TRUSEQ-8-12BP-i5-PLATE-001,AGTGGACTAGCA,Human,,,
B01,COMET_COVID_mNGS,Metagenomics Sequencing of COVID positive and ...,,extracted RNA from nasal swab externalinternal,B01_nan,B01_nan,michelle_tan,CZB-TRUSEQ-8-12BP-i7-PLATE-002,GTTCCTTCGCTA,CZB-TRUSEQ-8-12BP-i5-PLATE-002,ACGACAACCGAA,Human,,,
C01,COMET_COVID_mNGS,Metagenomics Sequencing of COVID positive and ...,,extracted RNA from nasal swab externalinternal,C01_nan,C01_nan,michelle_tan,CZB-TRUSEQ-8-12BP-i7-PLATE-001,TCACATTCGTCC,CZB-TRUSEQ-8-12BP-i5-PLATE-001,GTTCACCAATCC,Human,,,
D01,COMET_COVID_mNGS,Metagenomics Sequencing of COVID positive and ...,,extracted RNA from nasal swab externalinternal,D01_nan,D01_nan,michelle_tan,CZB-TRUSEQ-8-12BP-i7-PLATE-002,GTTCTAGCGCTT,CZB-TRUSEQ-8-12BP-i5-PLATE-002,GAGTGAGGATTG,Human,,,
E01,COMET_COVID_mNGS,Metagenomics Sequencing of COVID positive and ...,,extracted RNA from nasal swab externalinternal,E01_nan,E01_nan,michelle_tan,CZB-TRUSEQ-8-12BP-i7-PLATE-001,ACGAATCGACCA,CZB-TRUSEQ-8-12BP-i5-PLATE-001,CAAGAGGCACTT,Human,,,

We want to save the sample sheet csv in drive